@font-face{
    font-family:"Pixel Font";
    src: url("../font/Animal-Crossing-Wild-World.ttf") format("truetype");
}

html{
    color:white;
}

h1{
    font-family: "Pixel Font";
    font-size:48px;
    text-align: center;
}

body{
    font-family:"Pixel Font";
    padding:20px;
    font-size:32px;
    background:#aa0a0a;
    text-align: center;
}

.header{
    padding:30px;
    font-size:40px;
    text-align: center;
    color:white;
    background:black;
}

/* create 2 columns that float next to each other*/
.leftColumn{
    float:left;
    width:75%;
}

.rightColumn{
    float:left;
    width:25%;
    padding-left:20px;
}

.fakeImage{
    background-color: #aaa;
    width:100%;
    padding:20px;
}

.card{
    background-color: black;
    padding:20px;
    margin-top:20px;
}

/*clear floats after the columns*/
.row:after{
    content:"";
    display: table;
    clear: both;
}

/*footer*/
.footer{
    padding:1px;
    text-align: center;
    background:black;
    margin-top:20px;
    font-size: 16px;
}

/*responsive layout- screen less than 800px, then stack the columns*/
@media screen and (max-width:800px){
    .leftColumn, .rightColumn{
        width:100%;
        padding: 0;
    }
}

/*List stuff*/

li{
    display:inline;
    float: left;
}


.menu_item{
    display: contents;
    padding: 128px;
    font-size: 32px;
    background-color: black;
}

.menu_item_list{
    word-spacing: 128px;
    text-align: center;
}

a{
    color:#aa0a0a;
    text-decoration: solid;
}

a:hover{
    color:white;
    /*background-color: #aa0a0a;*/
}

ul{
    list-style-type:none;
    margin: 0;
    padding:0;
    
}

.active{
    color:white;
}